table {
  margin-top: 40px;
}
tbody {
  /* background-color: aqua; */
}
.sw {
  /* background-color: red;
  width: 200px;
  height: 200px; */
}
body {
  display: flex;
  justify-content: center;
}
.tdDelete {
  color: red;
}
.selected {
  opacity: 0.6;
}
.tdNumb {
  padding-right: 15px;
}
